<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<mapping resource="pe/com/peruInka/core/domain/BaseType.hbm.xml" />
		<mapping resource="pe/com/peruInka/core/domain/Person.hbm.xml" />
		<mapping resource="pe/com/peruInka/core/domain/UserSystem.hbm.xml" />
		<mapping resource="pe/com/peruInka/core/domain/Hotel.hbm.xml" />
		<mapping resource="pe/com/peruInka/core/domain/Product.hbm.xml" />
  		<mapping resource="pe/com/peruInka/core/domain/Customer.hbm.xml" />
  		<mapping resource="pe/com/peruInka/core/domain/Ticket.hbm.xml" />
		<mapping resource="pe/com/peruInka/core/domain/TicketDescription.hbm.xml" />
		
         		


	</session-factory>

</hibernate-configuration>