<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.directwebremoting.org/schema/spring-dwr
           http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="pe.com.peruInka.service.services" />

<!-- 	<tx:advice id="txAdvice" transaction-manager="transactionManager"> -->
<!-- 		<tx:attributes> -->
<!-- 			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" /> -->
<!-- 			<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" /> -->
<!-- 			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" /> -->
<!-- 			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" /> -->
<!-- 			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" /> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->

<!-- 	<aop:config expose-proxy="true"> -->
<!-- 		<aop:pointcut id="serviceMethod" -->
<!-- 			expression="execution(* pe.com.peruInka.service.services.*.*(..))" /> -->
<!-- 		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" /> -->
<!-- 	</aop:config> -->

<!-- 	<bean id="userService" class="org.elecciones.core.service.UserServiceImpl"> -->
<!-- 	</bean> -->

</beans>